@import "./variabile";

@media screen and (max-width: 700px) {
    // Your styles for screens with a minimum width of 700 pixels
    // For example:
    button{
        span{
            div{
                display: none;
            }
        }
    }
}

  
button{
    span{
        display: flex;
        align-items: center;
        div{
            margin-left: 5px;
        }
    }
}

// Define custom SCSS variables
$range-thumb-size: 1.5em; // 50% larger than the font-size


.form-range::-webkit-slider-thumb {
    background-color: $albastru-inchis;
    transform: scale(1.5);
}

.form-range::-webkit-slider-runnable-track {
    
    background-color: $albastru-deschis;
    
}

// Customize range track color for the specific input
#inp-pret {
    --bs-range-track-color: $range-track-color;
}



@keyframes slideRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.animationProdus{
    animation: slideRight 1s forwards;
}

.red-aura {
    box-shadow: 0 0 15px 5px red; /* Creates a red glow effect */
    border-radius: 10px; /* Optional: makes the corners rounded */
}
