<!DOCTYPE html>
<!-- 
    Comentariu
--> 
<html>
    <head lang="ro">
    <%- include("../fragmente/head.ejs")%>    
        

<meta name="keywords" content="culturism, sala, proteine, shakere, vitamine, gainere, curele culturism, echipamente sportive">
<meta name="description" content="As-teroizi: Descoperă potențialul maxim al antrenamentului tău! Echipează-te cu cele mai avansate suplimente și accesorii pentru culturism.
Nu te mulțumi cu mai puțin! Alege As-teroizi și atinge nivelul următor al performanței tale.">
<title>As-teroizi</title>
    </head>

    <body>
       <%- include("../fragmente/header.ejs") %>
 
        <main>
            <h2>Istorie:Proiect scolar ca sa iau nota mare </h2>   
        </main>

        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>