@import "./variabile";

h1{
    display: none;
}

#link-top{
    position:fixed;
    bottom:0.3em;
    opacity:0.5;
    left:0.3em;
    width:3rem;
    text-decoration: none;
    box-sizing: border-box;
    height:3rem;
    line-height:3rem;
    text-align:center;
    border:5px solid $albastru-inchis;
    border-radius: 50%;
    background: $alb;
    transition: all 1s linear;
    &:hover{
        opacity:1;
        box-shadow: 0px 0px 15px;
    }
}


#triunghi{
    color:$albastru-inchis;
    font-size: xx-large;
    vertical-align: top;
    transform: translateY(-12.5%);
    scale: 1.25;
    
}

#iframe{
  display: flex;
  >div{   
        >a{
            padding-left: 1rem;
            width: 6rem;
            height: 2rem;
            background:$alb;
            text-decoration: none;
            color: $albastru-inchis;
            border: 3.5px solid $albastru-inchis;
            border-style: double;
            border-left: transparent;
            border-radius: 0% 10% 10% 0%;
            overflow: hidden;
            font-size: 15px;
            display: block;
            transition: all 0.3s linear;

            &:hover{
                transform-origin:bottom left;
                transform: scaleX(1.2) translateX(0.01);
                padding-left: 1.5rem;
                opacity: 0.8;
            }
        }
  }
 
  >iframe{
    border-bottom: 0.4rem solid $albastru-deschis;
    border-left: 0.4rem solid $albastru-inchis;
    border-right: 0.4rem solid $albastru-deschis;
    border-top: 0.4rem solid $albastru-inchis;
  }
}


#tabel{
    border-collapse: collapse;
    width: 100%;
    border: 5px double black;
    transition: all 1/3s linear;
    td, th{
        border: 1px solid black;
    }

    thead{
        tr{
            color: $albastru-deschis;
        }
    }

    tbody{
        tr{
            &:nth-child(odd){
                color:$albastru-inchis;
            }

            &:nth-child(even){
                color:$albastru-deschis;
            }
        }
    }

    tr{
        
        &:hover{
            background-color: #ffcc00; 
            color: white; 
            border-width: 5px; 
        }
    }
}

#watermark{
    display: none;
}

@media print{
    img, video, #iframe, embed, object, figcaption, #link-top, iframe {
        display: none;
    }
    
    a{
      text-decoration: none;
      color: black;
    }

    nav{
		text-align: center;
        justify-content: center;
		position: absolute;
		font-size:10px;
        top: 90%;
		left: 5%;
		width:70%;
		height:35px;
		display: inline-block;
        .meniu{
    
            list-style-type: none;
            background-color: $albastru-deschis;
            ul{
                display: block;
                list-style-type: none;
                
            }
        }
	}

    #grid-pagina{
        display: block;
		font-size: 10px;
		box-sizing:border-box;
		page-break-before:always;
		background-color: white;
		display:block;
		}
		html, body {
        width: 210mm;
        /* height: 297mm; */
        /*height: 282mm;*/
				overflow:visible !important;
		}
	
	h1{
        display: block;
		page-break-after: always;
		margin-top: 50%;
		text-align:center;
		margin-left:1cm;
	}
    
    #watermark{
        text-align: center;
        opacity:0.4;
        padding:5px;
        display: block;
        position: fixed;
        background: white;
        border:2px solid black;
        border-radius: 5px 5px 5px 5px;
        bottom:0;
        color:rgba(0,0,0,0.4);
        right:0;
        
    }
    
}


@page {
    size: A4 portrait;
    margin-bottom:2cm;
    margin-top:2cm;
    counter-increment: page;
    &:left{
        margin-left:2cm;
        margin-right:1cm;
        border-radius: 20cm;
    }
    &:right{
        margin-right:2cm;
        margin-left:1cm;
    }    
}

