nav {
  height: auto;
}

/* implicit meniul e ascuns*/
ul.meniu {
  display: none;
  position: absolute;
  width: 100%;
}

/*facem vizibil iconul de hamburger meniu*/
#hamburger {
  display: block;
  position: relative;
  width: 40px;
  height: 30px;
}

#hamburger > img {
  display: none;
  width: 10%;
  height: 30px;
  background-color: var(--albastru-deschis);
}

#hamburger {
  position: relative;
  width: 40px;
  height: 30px;
}

.bara-hamburger {
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #333;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bara-hamburger:nth-child(1) {
  top: 0;
}

.bara-hamburger:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bara-hamburger:nth-child(3) {
  bottom: 0;
}

@-webkit-keyframes aparitie-hamburger {
  0% {
    -webkit-transform: scale(0.5) rotate(0deg);
            transform: scale(0.5) rotate(0deg);
    background-color: #333;
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5) rotate(180deg);
            transform: scale(1.5) rotate(180deg);
    background-color: #ff6347;
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
    background-color: #1e90ff;
    opacity: 1;
  }
}

@keyframes aparitie-hamburger {
  0% {
    -webkit-transform: scale(0.5) rotate(0deg);
            transform: scale(0.5) rotate(0deg);
    background-color: #333;
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5) rotate(180deg);
            transform: scale(1.5) rotate(180deg);
    background-color: #ff6347;
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
    background-color: #1e90ff;
    opacity: 1;
  }
}

.bara-hamburger:nth-child(1) {
  -webkit-animation: aparitie-hamburger 0.5s forwards 300ms;
          animation: aparitie-hamburger 0.5s forwards 300ms;
}

.bara-hamburger:nth-child(2) {
  -webkit-animation: aparitie-hamburger 0.5s forwards 600ms;
          animation: aparitie-hamburger 0.5s forwards 600ms;
}

.bara-hamburger:nth-child(3) {
  -webkit-animation: aparitie-hamburger 0.5s forwards 900ms;
          animation: aparitie-hamburger 0.5s forwards 900ms;
}

/*aici facem vizibil meniul cand faem click pe hamburger meniu*/
#ch-menu:checked + ul.meniu {
  display: block;
  z-index: 2;
  position: relative;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation-name: aparitie_meniu_p;
          animation-name: aparitie_meniu_p;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#ch-menu:checked + ul.meniu > li {
  /*meniul sa vina deasupra continutul de mai jos, fara sa impinga continutul*/
}

#ch-menu:checked + ul.meniu > li > div, #ch-menu:checked + ul.meniu > li > a {
  z-index: 2;
  position: relative;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation-name: aparitie_meniu_p_btn;
          animation-name: aparitie_meniu_p_btn;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#ch-menu:checked + ul.meniu > li ul > * {
  position: relative;
  z-index: 200;
}

/*optiunile se intind pe toata latimea containerului*/
nav ul.meniu {
  margin: 0;
}

nav ul.meniu li {
  width: 100%;
}

nav ul.meniu > li ul {
  position: absolute;
  width: 100%;
  z-index: 200;
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
  opacity: 1 !important;
}

nav ul.meniu > li:hover > ul {
  z-index: 200;
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes aparitie_meniu_p {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparitie_meniu_p {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes aparitie_meniu_p_btn {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes aparitie_meniu_p_btn {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.Text-suprapus:hover div:nth-child(2) {
  top: 0px;
}
/*# sourceMappingURL=nav700.css.map */